# dependencies
node_modules
.pnp
.pnp.js

# build output
dist
dist-ssr
build
*.local

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# env
.env
.env.local
.env.*.local

# misc
.cache
.parcel-cache
coverage
*.tsbuildinfo
.eslintcache
